:root {
  --background-color: ;
  --text-color: ;
  --header-color: ;
  --highlight-color: ;
  --background-gradient: radial-gradient(circle, var(--highlight-color) 0%, var(--background-color) 50%);
  --box-shadow: -4px -4px 15px -5px rgba(255, 255, 255, 0.1),
    5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  --border: 1px solid rgba(255, 255, 255, 0.4);
  --backdrop: ;
  --font-bebas: ;
  --font-open-sans: ;
  font-size: 14px;
  line-height: 1.8rem;
  letter-spacing: 0.2rem;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  width: 100%;
  height: fit-content;
  background: var(--background-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--header-color);
  font-family: var(--font-bebas);
  font-weight: bold;
  font-size: 2rem;
  cursor: default;
}

h2 {
  color: var(--header-color);
  font-family: var(--font-bebas);
  font-size: 1.6rem;
  font-weight: bold;
  cursor: default;
}

h3 {
  color: var(--header-color);
  font-family: var(--font-bebas);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: default;
}

u {
  text-decoration: underline;
  text-decoration-color: var(--header-color);
}

p {
  font-family: var(--font-open-sans);
}

footer {
  width: 100%;
  margin-top: 50px;
}

.customContainer {
  width: clamp(280px, 60vw, 1920px);
  backdrop-filter: var(--backdrop);
  padding: 15px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.brand-logo img{
    width: 200px;
}

@media only screen and (max-width: 425px) {
  :root{
    font-size: 12px;
  }

}