@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-color: #0f0f0f;
  --text-color: #f7f7f7;
  --highlight-color: #ae00ff;
  --dark-highlight-color: #27003a;
  --background-gradient: radial-gradient(circle, var(--dark-highlight-color) 0%, var(--background-color) 50%);
  --box-shadow: -4px -4px 15px -5px rgba(255, 255, 255, 0.1),
    5px 5px 15px -5px rgba(0, 0, 0, 1);
  --border: 1px solid rgba(255, 255, 255, 0.3);
  --backdrop: blur(3px);
  --font-bebas: "Bebas Neue", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.8rem;
  letter-spacing: 0.2rem;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  width: 100%;
  height: fit-content;
  background: var(--background-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--highlight-color);
  font-family: var(--font-bebas);
  font-weight: bold;
  font-size: 2rem;
  cursor: default;
}

h2 {
  color: var(--highlight-color);
  font-family: var(--font-bebas);
  font-size: 1.6rem;
  font-weight: bold;
  cursor: default;
}

h3 {
  color: var(--highlight-color);
  font-family: var(--font-bebas);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: default;
}

u {
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
}

p {
  font-family: var(--font-open-sans);
}

footer {
  width: 100%;
  margin-top: 50px;
}

.customContainer {
  width: clamp(280px, 60vw, 1920px);
  backdrop-filter: var(--backdrop);
  padding: 15px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.brand-logo img{
    width: 200px;
}