.earth-image {
    max-width: 430px;
    max-height: 430px;
    position: fixed;
    right: -200px;
    top: 170px;
    z-index: 1000;
    transition: right 0.3s ease, top 0.3s ease, transform 0.3s ease;
    opacity: 0.5;
    transform-origin: center center;
    z-index: -1;
}

/* Modaalin muotoilut */
.modal {
    background-color: rgba(0, 0, 0, 0.95) !important;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.95) !important;
    color: white !important;
}

.modal-header {
    background-color: rgba(0, 0, 0, 0.95) !important;
}

.modal-header h4 {
    color: white !important;
}

.modal-body {
    color: white !important;
}

.modal-footer {
    background-color: rgba(0, 0, 0, 0.95) !important;
}

/* Input-kenttien muotoilut */
.input-field input {
    color: white !important;
    border-bottom: 1px solid white !important;
}

.input-field label {
    color: white !important;
}

.input-field .prefix {
    color: white !important;
}

/* Nappien muotoilut */
.modal .btn {
    background-color: white !important;
    color: black !important;
}

.modal .btn-flat {
    color: white !important;
}

.modal .btn i {
    color: black !important;
}

@media screen and (min-width: 850px) {
    .earth-image {
        max-width: 600px;
        max-height: 600px;
        right: -300px;
        top: 100px;
    }
}
@media screen and (max-width: 550px) {
    .earth-image {
        max-width: 380px;
        max-height: 380px;
        right: -200px;
        top: 220px;
    }
}
@media screen and (max-width: 473px) {
    .earth-image {
        max-width: 280px;
        max-height: 280px;
        right: -200px;
        top: 260px;
    }
}
@media screen and (max-width: 380px) {
    .earth-image {
        opacity: 0;
    }
}

#sign-in-text {
    max-width: 500px;
    
}



