/* Responsiivinen muotoilu */
@media (min-width: 900px) {
  .input-field.inline {
      display: inline-block;
      width: 30%;
      margin-right: 20px;
  }
}

/* Sivun taustaväri EI TOIMI*/
body {
  background-color: #0D0D2E;
  color: #E5E5E5;
}

/* Lomakkeen tyyli */
.form-container {
  background-color: #424242;
  padding: 20px;
  max-width: 2080px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 8px #FFAA33;
  margin: 20px auto;
}

/* Tekstiväri lomakkeen kentissä */
input[type="text"], input[type="email"], textarea {
  color: #E5E5E5; 
  border-bottom: 1px solid #FFAA33; 
}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border-bottom: 1px solid #FFAA33; 
  box-shadow: 0 1px 0 0 #FFAA33; 
}

/* Viestin tekstikentän korkeus */
textarea#message {
  min-height: 100px; 
}

/* Valintaruutu, dropdown ja radiopainikkeet */
input[type="checkbox"] + span, input[type="radio"] + span {
  color: #E5E5E5;
}

select {
  color: #E5E5E5; 
  border-bottom: 1px solid #FFAA33;
}
select:focus {
  border-bottom: 1px solid #FFAA33;
  box-shadow: 0 1px 0 0 #FFAA33;
}

/* Lähetä-painikkeen väri */
.btn-submit {
  background-color: #FFAA33; /* EI TOIMI */
  color: #E5E5E5;
}
.btn-submit:hover {
  background-color: #42a5f5; /* Vaaleansininen hover-väri */
}

/* Kahden sarakkeen jako */
.row .col {
  margin-bottom: 20px;
}
