@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');

:root {
  --background-color: #000000;
  --text-color: #f4f4f4;
  --header-color: rgba(12, 195, 234, 1);
  --headertwo-color: rgb(255, 244, 241);
  --highlight-color: ;
  --background-gradient: radial-gradient(circle, var(--header-color) 0%, var(--background-color) 50%);
  --box-shadow: -4px -4px 15px -5px rgba(255, 255, 255, 0.1),
    5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  --border: 1px solid rgba(255, 255, 255, 0.4);
  --backdrop: ;
  --font-bebas: ;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-exo: 'exo 2', sans-serif;
  font-size: 16px;
  line-height: 1.65;
  letter-spacing: 0.06rem;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background: var(--background-gradient);
}

h1 {
  color: var(--header-color);
  font-family: var(--font-bebas);
  font-weight: bold;
  font-size: 2.8rem;
  cursor: default;
  font-weight: 600;
}

h2 {
  color: var(--headertwo-color);
  font-family: var(--font-open-sans);
  font-size: 2rem;
  font-weight: 800;
  cursor: default;
}

h3 {
  color: var(--headertwo-color);
  font-family: var(--font-exo);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: default;
  text-shadow: 2px 2px 25px  rgba(12, 195, 234, 0.9);
  padding: 10px;
  text-align: left;
  background: linear-gradient(to right, 
            rgba(231, 111, 81, 0.8), 
            rgba(231, 111, 81, 0.2),
            rgba(43, 196, 219, 0),  
             transparent );
}

h4 {
  color: var(--headertwo-color);
  font-family: var(--font-orbitron);
  font-size: 1.25rem; 
  text-shadow: 2px 2px 25px rgba(12, 195, 234, 0.6);
  margin: 0.9375rem; 
}

u {
  text-decoration: underline;
  text-decoration-color: var(--text-color);
}

p {
  font-family: var(--font-open-sans);
  font-size: 16px;
  line-height: 1.65;
  letter-spacing: 0.06rem;
}

footer {
  width: 100%;
  margin-top: 50px;
}

.brand-logo img{
    width: 200px;
}

.shadow-box {
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 15px;
  margin-top: 25px;
}

@media only screen and (max-width: 425px) {
  :root{
    font-size: 12px;
  }

}

@media only screen and (max-width: 768px) {
  :root{
    font-size: 14px;
  }

}
